<div>
  <div>
    <div>
    <%= link_to "Home", root_path %>
        <div> 
          <%= render @user.friends %>
        </div>
       <%= link_to "Find Friends", users_index_path %>
       <hr>
        <h6>Friend Request Received</h6>
        <table>
          <thead>
            <tr> 
              <td >ID</th>
              <td >User</th>
            </tr>
          </thead>
          <% @user.friend_requests.each do |friend| %>
            <tbody>
              <tr>
                <td> <%= friend.id %> </td>
                <td> <%= @user.first_name %></td>
                <td> <%= link_to "Confirm Request", confirm_friend_path(id: friend.id),
                                                method: :patch,
                                                data: { confirm: "Are You sure?" }%> 
                    <%= link_to "Ignore", ignore_request_path(id: friend.id),
                                                method: :delete,
                                                data: { confirm: "Are You sure?" }%></td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <hr>
        <h6>Friend Request Sent</h6>
        <table>
          <thead>
            <tr>  
              <td >ID</th>
              <td >User</th>
            </tr>
          </thead>
          <% @user.pending_friends.each do |friend| %>
            <tbody>
              <tr>
                <td> <%= friend.id %> </td>
                <td> <%= @user.first_name %></td>
                <td> <%= link_to "Cancel Request", cancel_request_path(id: friend.id),
                                                method: :delete,
                                                data: { confirm: "Are You sure?" }%> </td>
              </tr>
            </tbody>
         <% end %>
        </table>
    </div>
  </div>
</div>