<%= link_to "Users", :controller => :users, :action => :index %>
<% if current_user %>
    <%= link_to "Friends",  friends_path%>
    <%= link_to "All Posts", posts_path %>
    <%= link_to 'Create Post', new_post_path %>
  <br><br>
    Logged in as <%= current_user.first_name %>.
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <br><br>
    <div>
      <h5>Friends:</h5>
      <% unless current_user.friends.empty? %>
      <div class="d-flex flex-column align-items-center">
        <% current_user.friends.each do |friend|  %>
          <%= render 'users/user', user: friend %>
        <% end %>
      </div>
      <% else %>
        <p>
          <%= "Currently you have no friends" %>
        </p>
        <%= link_to "Find Friends", users_index_path%>
      <% end %>
    </div>
<% else %>
  <%= link_to('Register', new_user_registration_path) %> or
  <%= link_to('Login', new_user_session_path) %>
<% end %>
